dataset/raw/
dataset/processed/

ml_core

__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
env/
.env/
.venv/

.env
.env.local
*.env

notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace


.DS_Store
Thumbs.db
desktop.ini