<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kolkata Property Valuation AI</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <header class="site-header">
        <div class="header-container">
            <div class="brand-identity">
                <i class="fa-solid fa-city fa-lg" style="color: rgb(0, 136, 204);"></i>
                <span class="brand-name">Kolkata House Predictor<span class="accent-text"></span></span>
            </div>
            <nav class="nav-links">
                <a href="dashboard.html">Valuation Engine</a>
                <a href="#">Market Insights</a>
                <a href="#">Enterprise Solutions</a>
            </nav>
        </div>
    </header>

    <main class="landing-wrapper">
        <div class="hero-content-direct text-center">
            <h1 class="hero-title animated-element delay-2">
                Predicting Property Valuations <br>for <span class="gradient-text">Kolkata</span>
            </h1>
            <p class="hero-subtitle animated-element delay-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ipsum? Sunt beatae repudiandae dicta alias ad eligendi fuga repellendus commodi..
            <div class="hero-action animated-element delay-4">
                <a href="dashboard.html" class="cta-btn">
                    <span>Launch Valuation Engine</span>
                    <i class="fa-solid fa-arrow-right arrow-icon"></i>
                </a>
            </div>
        </div>
    </main>

    <footer class="site-footer">
        <div class="footer-container">
            <p>&copy; 2026 Kolkata House Predictor. By Sourajit Paul of IEMK.</p>
            <div class="footer-meta-links">
                <a href="#">Data Privacy</a>
                <a href="#">API Specifications</a>
                <a href="{{ url_for('static', filename='Model_Architecture_Summary.pdf') }}" download>Model Architecture</a>
            </div>
        </div>
    </footer>

</body>
</html>